alias b='bundle exec'
alias gst='git status'
alias gl='git pull'
alias gp='git push'
alias gd='git difftool'
alias glog='git log --pretty=oneline'
alias gck='git checkout'
alias gckd='git checkout develop'
alias gckm='git checkout main'
alias gm='git merge'
alias gmd='git merge development'
alias gmm='git merge master'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'
alias puom='git push origin main'
alias plom='git pull origin main'
alias puod='git push origin develop'
alias plod='git pull origin develop'
alias plo='git pull origin'
alias puo='git push origin'

alias sagi='sudo apt-get install'
alias upd_ub='sudo apt-get -y update'
alias upg_ub='sudo apt-get -y upgrade'

alias ll='ls -l'
alias la='ls -al'
alias lh='ls -lh'
alias glog="git log --pretty=tformat:'%h %Cblue%cr%Creset %cn %Cgreen%s%Creset'"

alias edit_ssh="$EDITOR $HOME/.ssh/config"
alias edit_env="$EDITOR $HOME/dotfiles"
alias edit_env="nvim --cmd 'cd ~/dotfiles/' ~/dotfiles/zshrc"
alias edit_hosts="sudo $EDITOR /etc/hosts"
alias list_ssh="cat $HOME/.ssh/config | grep Host"
alias reload_env="source $HOME/.zshrc"
alias dotfiles="cd ~/bin/dotfiles"
alias reload_tmux="tmux source-file ~/.tmux.conf"

alias dps="docker ps"
alias dim="docker images"
alias drim="docker rmi"

alias top='htop'

alias h='history'

alias tb2='tar -jxvf'
alias tbz='tar -zxvf'
alias b2='bzip2 -d'
alias b2z='bzip2 -z'

alias krestart='kubectl rollout restart deployment'
alias kgp='kubectl get pods'
alias kgs='kubectl get services'
alias kgi='kubectl get ingress'
alias k='kubectl'
alias kx='kubectl exec -it '
alias kapp='kubectl apply -f'
alias kdel='kubectl delete -f'
alias lenv='source venv/bin/activate'

function find_in { find . -name $1 -print | xargs grep --color=auto -inH $2; }
function venv { source $HOME/venv/$1/bin/activate; }

alias vim='nvim'
alias edit_vim='nvim --cmd "cd ~/.config/nvim/lua/custom/"'

alias dockerstop='sudo systemctl stop docker'
alias dockerstart='sudo systemctl stop docker'

alias dcmp='docker compose --env-file docker/dev.env'

alias pull_up_eat1_kex='pulumi up --stack krypton/krypton_exchange/aws_eat1'
alias pull_down_eat1_kex='pulumi down --stack krypton/krypton_exchange/aws_eat1' 
alias pull_up_eat1_mmb='pulumi up --stack krypton/market_making_bot_k8s/aws_eat1'
alias pull_down_eat1_mmb='pulumi down --stack krypton/market_making_bot_k8s/aws_eat1' 

alias dcmp='docker compose --env-file docker/dev.env'
alias btt='bitcoin-cli -testnet -rpcuser=$BTT_USER -rpcpassword=$BTT_PASSWORD -rpcport=18332 -rpcconnect=$BTT_HOST'
alias btm='bitcoin-cli -rpcuser=$BTM_USER -rpcpassword=$BTM_PASSWORD -rpcport=8332 -rpcconnect=$BTM_HOST'

alias ws='windsurf'

alias disablewg='sudo systemctl disable wg-quick@protonvpn.service'
alias enablewg='sudo systemctl disable wg-quick@protonvpn.service'
